{% extends 'base.html' %}

{% block content %}
	<ul class="navbar navy">
		<li style=" float: right; padding-right: 10px;"><a href="/logout" class="text-red" style="text-decoration: none;">Logout</a></li>
		<li style=" float: right; padding-right: 10px;"><h2>Welcome, {{ name }}</h2></li>
	</ul>
	<ul class="sidebar dark-white" style="float: left; margin-right: 10px;">
		<li><a href="#" class="red-hover">Home</a></li>
	  	<li><a href="#" class="red-hover">About</a></li>
	  	<li><a href="#" class="red-active dark-red-hover">Projects</a></li>
	  	<li><a href="#" class="red-hover">Contact</a></li>
	</ul>
	<div style="padding-left: 10px;">
    	<h1 class="text-white">Welcome to WarehouseTech, {{ name }}</h1>
    	<a href="#"><i class="color-circle red" style="width: 60px; height: 60px; font-size: 40px; line-height: 55px; bottom: 10px; right: 15px; position: fixed;">+</i></a>
   	</div>
{% endblock %}