{% extends 'base.html' %}

{% block content %}
    <div class="section group">
        <form method="post" style="position: relative;">
            {% csrf_token %}
            <div class="col c-1-1 border-red" style="position: absolute; top: 50%; left: 50%; transform: translate(-10%, 75%);">
                <h1 class="text-white border-red" style="border-left: 10px solid; padding-left: 10px; font-weight: bold;"> Login</h1>
                <input type="text" name="username" class="textbox m-top m-bottom" placeholder="Username" style="width: 20%"/>
                
                <input type="password" name="password" class="textbox m-top m-bottom" placeholder="Password" style="width: 20%"/>
            
                <input type="submit" title="submit" class="btn red m-top m-bottom" value="Login" style="width: 20%; border: 0;"/><br/>
                <a href="/signup" class="text-red" style="text-decoration: none;">Create Account</a>
            </div>
        </form>
        {% if error is not None %}
            <div class="col c-1-1">
                <p class="error text-red" align="center"> {{ error }}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}