{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" />
        
        <label for="password">Password: </label>
        <input type="password" name="password" />
        
        <a href="/signup"><input type="button" value="Sign Up" /></a>
        <input type="submit" title="submit" />
    </form>
    {% if error is not None %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endblock %}